header {
    text-align: center;
    padding: 20px;
    background-color: #e6f2ff; 
}

.subtitle {
    font-style: italic;
    color: #194574;
    margin-top: 5px;
}

header img {
    margin-top: 10px;
    border-radius: 8px;
    width: 100px;
    /* height: auto; */
}

.fun-facts li{
    list-style-type: none;
    padding-left: 0;
}
.fun-facts li {
    background-color: #c6e7ef;  
    margin-bottom: 10px;
    border-radius: 6px;
    font-size: 1rem;
}

section {
margin-top: 20px;
}

.fun-facts {
padding: 15px;
border: 1px solid #ccc;
border-radius: 8px;
}